# This is a suggested .gitignore file for the project

# Any files or directories to ignore should be listed here.

# Common patterns:
build/
dist/

*.keras
__pycache__/
*.pyc
*.log
*.swp
.DS_Store
*.egg-info
venv/
env/
/.pytest_cache
autotrader_model.keras
