include README.md
include LICENSE
include requirements.txt
include MANIFEST.in
recursive-include autotrader *.py
recursive-include autotrader *.yaml
recursive-include autotrader *.yml
recursive-include autotrader *.json
recursive-include autotrader *.md
recursive-include autotrader *.txt
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
global-exclude __pycache__
global-exclude *.so
global-exclude .git*
global-exclude .pytest_cache
